<div class="col-xs-6 col-md-4 product-item" id="product-<%= product.id %>">
	<% if current_page?(profile_path(product.user.id)) %> 
		<%= render 'products/liststyle_product', product: product %>
	<% else %> 
		<%= image_tag product.avatar %>
		<div class="row">
			<div class="col-sm-9">
				<h4 class="prod-name">
					<%= product.prodname %>
				</h4>
			</div>
			<div class="col-sm-3">
				<h5 class="prod-price"><%= number_to_currency(product.price, :locale => :en) %></h5>
			</div>
		</div>
		<div class="row">
			<div class="col-md-12 prod-desc">
				<%= product.description %>
			</div>
		</div>
		<div class="row">
			<% if !current_user?(product.user) %>
				<div class="col-xs-5">
					<span class="user">
						<%= link_to product.user.name, profile_path(product.user.id) %>
					</span>
				</div>
			<% end %>
			<div class="col-xs-4">
				<%= render 'products/like_buttons', product: product %>
			</div>
		</div>
		<div class="row">
			<div class="col-xs-12">
				<span class="timestamp">
					<%= time_ago_in_words(product.created_at) %> ago <br>
				</span>
			</div>
		</div>
	<% end %>
		<%= render 'products/admin_buttons', product: product %>
		<%= render 'products/user_buttons', product: product %>	
	
</div>