<div class="col-xs-6 product-item" id="product-<%= product.id %>">
	<%= image_tag product.avatar %>
	<div class="row">
		<div class="col-sm-9">
			<h4 class="prod-name"><%= product.prodname %></h4>
		</div>
		<div class="col-sm-3">
			<h5 class="prod-price"><%= number_to_currency(product.price, :locale => :en) %></h5>
		</div>
	</div>
	<span class="prod-desc"><%= product.description %></span><br>
	<div class="row">
		<div class="col-xs-6">
			<span class="user"><%= product.user.name %></span><br>
		</div>
		<div class="col-xs-6">
			<span class="timestamp">
				<%= time_ago_in_words(product.created_at) %> ago <br>
			</span>
		</div>
	</div>
	<%= render 'products/admin_buttons', product: product %>
	<%= render 'products/user_buttons', product: product %>	
</div>