<div class="col-sm-4" id="product-<%= product.id %>">
	<%= product.img_path %>
	
	<h4 class="prod-name"><%= product.prodname %></h4>
	<span class="prod-desc"><%= product.description %></span><br>
	<span class="prod-price">€<%= product.price %></span><br>
	<span class="user"><%= product.user.name %></span><br>
	<span class="timestamp">
		<%= time_ago_in_words(product.created_at) %> ago. <br>
		 <!-- START DELETE LINK -->
        <% if current_user?(product.user) %>
          <%= link_to "delete", product, method: :delete,
                                           data: { confirm: "You sure?" } %>
        <% end %>
        <!-- END DELETE LINK -->
	</span>
</div>